<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>cdi-4.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>

        <!-- brought in through REST feature -->
        <!--feature>jsonp-2.1</feature-->
    </featureManager>
    

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="${project.name}.war" contextRoot="${app.context.root}">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>

</server>
